header{
    width:100%;
    text-align:center;
}
header img{
    width:20%;
}
.logout{
    float: right;
    margin-top:40px;
    margin-right:20px;
}

.box{
    clear:right;
    width:50%;
    border:2px gray solid;
    box-shadow: 4px 4px gray;
    margin:0 auto;
    margin-top: 20px;
}
h2{
    border-bottom:2px green solid;
    text-align:center;
}
.profile_pic{
    display:inline-block;
    border:2px solid lightgray;
    text-align:left;
    margin-top:20px;
    margin-left:45px;
}
.profile_pic img{
    width:100px;
    padding:5px;
}
.basic_info{
    display:inline-block;
}
.basic_info p{
    margin:20px;
}
.comments{
    clear:left;
    margin-top: 20px;
}
.hensyubutton{
    clear:left;
    margin:0 auto;
    text-align:center;
    margin:50px 50px 20px 20px;
}
.submit_button{
    background-color: green;
    color:white;
}
footer{
    clear:left;
    position:absolute;
    width:100%;
    bottom:0;
    border:2px gray solid;
    text-align: center;
    line-height: 50px;
    height:50px;
}
